[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
python-dotenv = "*"
autopep8 = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"
pytest-flask = "*"

[packages]
flask-restplus = "*"
flask-script = "*"
flask-migrate = "*"
flask-marshmallow = "*"
flask-babel = "*"
flask-wtf = "*"
sqlalchemy-utils = "*"
marshmallow = ">3.0.0rc4"
marshmallow-sqlalchemy = "*"
wtforms-alchemy = "*"
wtforms-json = "*"
passlib = "*"
pyjwt = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
