[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask-restplus = "*"
flask-script = "*"
flask-migrate = "*"
flask-marshmallow = "*"
flask-babel = "*"
sqlalchemy-utils = "*"
marshmallow-sqlalchemy = "*"
flask-wtf = "*"
wtforms-alchemy = "*"
wtforms-json = "*"

[requires]
python_version = "3.7"
